extends layout
block content
    - console.log(data)
    .main-content 
    style.
        //- h1 {text-align:center;}
        //- table.ui.celled img { display: inline-block; }
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        footer { margin: 35px 0 15px 0; text-align: left }
    h1 All Guests
    table
        tr
        th Guest ID
        th Guest Name
        for item in data 
            tr  
                td #{item.id}
                td 
                    a(href='/guest-single/' + item.id) #{item.name}