extends layout
block content
    p
    h1 Welcome to IWish
    nav.navbar.navbar-inverse
        .container-fluid          
            ul.nav.navbar-nav
                li
                    a(href='/All-Guests-Formatted') All Guests Page
    