html 
    head    
        title Iwish App
        style.
            .myDiv {
            background-color: gray;
            text-align: center;
            }
    .myDiv
        h1(style = {color: 'purple'}) Iwish App
    body
        
        //img(src='./app/iwish.png' alt='logo' width = '600' height = '600')
        block content